* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

nav {
    padding: 2rem;
    /* border: 2px solid saddlebrown; */
    font-size: 1.5rem;
    background-color: bisque;
    text-align: center;
    position: sticky;
    top: 0;
}

header {
    background-color: aquamarine;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
}